.main
  %h1= title

  %h2 Methods

  %p
    %span.label.label-info
      GET
    %a{:href => earth_api_url}= earth_api_url

  %h3 Optional parameters

  = haml :'docs/_location_parameters', :locals => { :resource_api_url => earth_api_url }

  %h3 Attributes

  = haml :'docs/planets/_planets_attributes', :locals => { :name => 'earth' }

  %h3 JSON result

  %pre.code.prettyprint
    %code
      = preserve do
        :escaped
          # $ curl #{earth_api_url}
          {
            "data": {
              "semimajor_axis_km": 149600000,
              "perihelion": 147090000,
              "aphelion": 152100000,
              "mean_orbital_speed": 29.78,
              "sidereal_orbit_period": 365.256,
              "tropical_orbit_period": 365.242,
              "length_of_day": 24,
              "sidereal_rotation_period": 23.9345,
              "obliquity_to_orbit": 23.45,
              "semimajor_axis_au": 1.00000011,
              "eccentricity": 0.01671022,
              "inclination": 0.00005,
              "longitude_of_ascending_node": -11.26064,
              "longitude_of_perihelion": 102.94719,
              "mean_longitude": 100.46435,
              "mass": 5.973600000000001e+24,
              "equatorial_radius": 6378.1,
              "polar_radius": 6356.8,
              "mean_density": 5515,
              "surface_gravity": 9.798,
              "escape_velocity": 11.186,
              "blackbody_temp": 254.3,
              "solar_intensity": 1367.6,
              "natural_satellites": 1,
              "distance_from_sun": 1.01,
              "distance_from_earth": 0,
              "velocity": 29.45
            },
            "code": 200
          }