.main
  %h1= title

  %h2 Methods

  %p
    %span.label.label-info
      GET
    %a{:href => mars_api_url}= mars_api_url

  %h3 Optional parameters

  = haml :'docs/_location_parameters', :locals => { :resource_api_url => mars_api_url }

  %h3 Attributes

  = haml :'docs/planets/_planets_attributes', :locals => { :name => 'mars' }

  %h3 JSON result

  %pre.code.prettyprint
    %code
      = preserve do
        :escaped
          # $ curl #{mars_api_url}
          {
            "data": {
              "semimajor_axis_km": 227920000.0,
              "perihelion": 206620000.0,
              "aphelion": 249230000.0,
              "mean_orbital_speed": 24.13,
              "sidereal_orbit_period": 686.98,
              "tropical_orbit_period": 686.973,
              "synodic_period": 779.94,
              "length_of_day": 24.6597,
              "sidereal_rotation_period": 24.6229,
              "obliquity_to_orbit": 25.19,
              "semimajor_axis_au": 1.52366231,
              "eccentricity": 0.09341233,
              "inclination": 1.85061,
              "longitude_of_ascending_node": 49.57854,
              "longitude_of_perihelion": 336.04084,
              "mean_longitude": 355.45332,
              "discoverer": "Unknown",
              "Date_of_discovery": "Classical",
              "mass": 6.4185e+23,
              "equatorial_radius": 3397,
              "polar_radius": 3375,
              "mean_density": 5427,
              "equatorial_surface_gravity": 3.71,
              "escape_velocity": 5.03,
              "blackbody_temp": 210.1,
              "solar_intensity": 589.2,
              "natural_satellites": 2,
              "distance_from_sun": 1.58,
              "distance_from_earth": 2.33,
              "velocity": 23.19,
              "right_ascension": "7h 55m 44.5s",
              "declination": "21° 42' 20\"",
              "range": 2.329,
              "brightness": 1.8,
              "constellation": "Gemini",
              "meridian_transit": "09:50",
              "rises": "03:50",
              "sets": "15:50",
              "altitude": -57.4,
              "azimuth": 46.7,
              "opposition": "2012-03-03 / 2014-04-08",
              "superior_conjunction": "2013-04-18 / 2015-06-14",
              "perihelion_date": "2013-01-24 / 2014-12-12",
              "aphelion_date": "2012-02-15 / 2014-01-03"
            },
            "code": 200
          }