.main
  %h1= title

  %h2 Methods

  %p
    %span.label.label-info
      GET
    %a{:href => neptune_api_url}= neptune_api_url

  %h3 Optional parameters

  = haml :'docs/_location_parameters', :locals => { :resource_api_url => neptune_api_url }

  %h3 Attributes

  = haml :'docs/planets/_planets_attributes', :locals => { :name => 'neptune' }

  %h3 JSON result

  %pre.code.prettyprint
    %code
      = preserve do
        :escaped
          # $ curl #{neptune_api_url}
          {
            "data": {
              "semimajor_axis_km": 4495060000.0,
              "perihelion": 4444450000.0,
              "aphelion": 4545670000.0,
              "mean_orbital_speed": 5.43,
              "sidereal_orbit_period": 60189.0,
              "tropical_orbit_period": 59799.9,
              "synodic_period": 367.49,
              "length_of_day": 16.11,
              "sidereal_rotation_period": 16.11,
              "obliquity_to_orbit": 28.32,
              "semimajor_axis_au": 30.06896348,
              "eccentricity": 0.00858587,
              "inclination": 1.76917,
              "longitude_of_ascending_node": 131.72169,
              "longitude_of_perihelion": 44.97135,
              "mean_longitude": 304.88003,
              "discoverer": "Johann Gottfried Galle",
              "Date_of_discovery": "1846-09-23",
              "mass": 1.0243e+26,
              "equatorial_radius": 24764,
              "polar_radius": 24341,
              "mean_density": 1638,
              "equatorial_surface_gravity": 11.15,
              "escape_velocity": 23.5,
              "blackbody_temp": 46.6,
              "solar_intensity": 1.51,
              "natural_satellites": 13,
              "distance_from_sun": 29.98,
              "distance_from_earth": 28.97,
              "velocity": 5.45,
              "right_ascension": "22h 24m 52.3s",
              "declination": "-10° 39' 5\"",
              "range": 28.975,
              "brightness": 7.8,
              "constellation": "Aquarius",
              "meridian_transit": "00:22",
              "rises": "18:19",
              "sets": "06:21",
              "altitude": 74.4,
              "azimuth": 133.4,
              "opposition": "2012-08-24 / 2013-08-27",
              "superior_conjunction": "2013-02-21 / 2014-02-23",
              "perihelion_date": "1876-08-26 / 2042-09-03",
              "aphelion_date": "1959-07-17 / 2125-12-01"
            },
            "code": 200
          }