.main
  %h1= title

  %h2 Methods

  %p
    %span.label.label-info
      GET
    %a{:href => saturn_api_url}= saturn_api_url

  %h3 Optional parameters

  = haml :'docs/_location_parameters', :locals => { :resource_api_url => saturn_api_url }

  %h3 Attributes

  = haml :'docs/planets/_planets_attributes', :locals => { :name => 'saturn' }

  %h3 JSON result

  %pre.code.prettyprint
    %code
      = preserve do
        :escaped
          # $ curl #{saturn_api_url}
          {
            "data": {
              "semimajor_axis_km": 1433530000.0,
              "perihelion": 1352550000.0,
              "aphelion": 1514500000.0,
              "mean_orbital_speed": 9.69,
              "sidereal_orbit_period": 10759.22,
              "tropical_orbit_period": 10746.94,
              "synodic_period": 378.09,
              "length_of_day": 10.656,
              "sidereal_rotation_period": 10.656,
              "obliquity_to_orbit": 26.73,
              "semimajor_axis_au": 9.53707032,
              "eccentricity": 0.0541506,
              "inclination": 2.48446,
              "longitude_of_ascending_node": 113.71504,
              "longitude_of_perihelion": 92.43194,
              "mean_longitude": 49.94432,
              "discoverer": "Unknown",
              "Date_of_discovery": "Classical",
              "mass": 5.6845999999999996e+26,
              "equatorial_radius": 60268,
              "polar_radius": 54364,
              "mean_density": 687,
              "equatorial_surface_gravity": 10.44,
              "escape_velocity": 35.5,
              "blackbody_temp": 81.1,
              "solar_intensity": 14.9,
              "natural_satellites": 47,
              "distance_from_sun": 9.85,
              "distance_from_earth": 10.21,
              "velocity": 9.34,
              "right_ascension": "14h 19m 38.9s",
              "declination": "-11° 31' 15\"",
              "range": 10.21,
              "brightness": 1.1,
              "constellation": "Virgo",
              "meridian_transit": "16:14",
              "rises": "10:15",
              "sets": "22:13",
              "altitude": -19.1,
              "azimuth": 257.8,
              "opposition": "2013-04-28 / 2014-05-10",
              "superior_conjunction": "2012-10-25 / 2013-11-06",
              "perihelion_date": "2003-07-26 / 2032-11-28",
              "aphelion_date": "1988-09-11 / 2018-04-17"
            },
            "code": 200
          }