.main
  %h1= title

  %h2 Methods

  %p
    %span.label.label-info
      GET
    %a{:href => uranus_api_url}= uranus_api_url

  %h3 Optional parameters

  = haml :'docs/_location_parameters', :locals => { :resource_api_url => uranus_api_url }

  %h3 Attributes

  = haml :'docs/planets/_planets_attributes', :locals => { :name => 'uranus' }

  %h3 JSON result

  %pre.code.prettyprint
    %code
      = preserve do
        :escaped
          # $ curl #{uranus_api_url}
          {
            "data": {
              "semimajor_axis_km": 2872460000.0,
              "perihelion": 2741300000.0,
              "aphelion": 3003620000.0,
              "mean_orbital_speed": 6.81,
              "sidereal_orbit_period": 30685.4,
              "tropical_orbit_period": 30588.74,
              "synodic_period": 369.66,
              "length_of_day": 17.24,
              "sidereal_rotation_period": 17.24,
              "obliquity_to_orbit": 97.77,
              "semimajor_axis_au": 19.19126393,
              "eccentricity": 0.04716771,
              "inclination": 0.76986,
              "longitude_of_ascending_node": 74.22988,
              "longitude_of_perihelion": 170.96424,
              "mean_longitude": 313.23218,
              "discoverer": "William Herschel",
              "Date_of_discovery": "1781-03-13",
              "mass": 8.6832e+25,
              "equatorial_radius": 25559,
              "polar_radius": 24973,
              "mean_density": 1270,
              "equatorial_surface_gravity": 8.87,
              "escape_velocity": 21.3,
              "blackbody_temp": 58.2,
              "solar_intensity": 3.71,
              "natural_satellites": 27,
              "distance_from_sun": 20.04,
              "distance_from_earth": 19.28,
              "velocity": 6.5,
              "right_ascension": "0h 45m 19.7s",
              "declination": "4° 5' 6\"",
              "range": 19.28,
              "brightness": 5.8,
              "constellation": "Pisces",
              "meridian_transit": "02:42",
              "rises": "20:39",
              "sets": "08:41",
              "altitude": 43.1,
              "azimuth": 84.4,
              "opposition": "2012-09-29 / 2013-10-03",
              "superior_conjunction": "2013-03-29 / 2014-04-02",
              "perihelion_date": "1966-05-22 / 2050-08-17",
              "aphelion_date": "2009-02-27 / 2092-11-23"
            },
            "code": 200
          }