.main
  %h1= title

  %h2 Methods

  %p
    %span.label.label-info
      GET
    %a{:href => venus_api_url}= venus_api_url

  %h3 Optional parameters

  = haml :'docs/_location_parameters', :locals => { :resource_api_url => venus_api_url }

  %h3 Attributes

  = haml :'docs/planets/_planets_attributes', :locals => { :name => 'venus' }

  %h3 JSON result

  %pre.code.prettyprint
    %code
      = preserve do
        :escaped
          # $ curl #{venus_api_url}
          {
            "data": {
              "semimajor_axis_km": 0.72333199,
              "perihelion": 107480000,
              "aphelion": 108940000,
              "mean_orbital_speed": 35.02,
              "sidereal_orbit_period": 224.701,
              "tropical_orbit_period": 224.695,
              "synodic_period": 583.92,
              "length_of_day": 2802,
              "sidereal_rotation_period": -5832.5,
              "obliquity_to_orbit": 177.36,
              "semimajor_axis_km": 0.72333199,
              "eccentricity": 0.00677323,
              "inclination": 3.39471,
              "longitude_of_ascending_node": 76.68069,
              "longitude_of_perihelion": 131.53298,
              "mean_longitude": 181.97973,
              "discoverer": "Unknown",
              "Date_of_discovery": "Classical",
              "mass": 4.8685e+24,
              "equatorial_radius": 6051.8,
              "polar_radius": 6051.8,
              "mean_density": 5243,
              "equatorial_surface_gravity": 8.87,
              "escape_velocity": 10.36,
              "blackbody_temp": 231.7,
              "solar_intensity": 2613.9,
              "natural_satellites": 0,
              "distance_from_sun": 0.73,
              "distance_from_earth": 1.19,
              "velocity": 34.93,
              "right_ascension": "12h 27m 53.5s",
              "declination": "-2° 33' 55\"",
              "range": 1.187,
              "brightness": -3.9,
              "constellation": "Virgo",
              "meridian_transit": "14:22",
              "rises": "08:22",
              "sets": "20:22",
              "altitude": -28.5,
              "azimuth": 267.1,
              "inferior_conjunction": "2012-06-06 / 2014-01-11",
              "superior_conjunction": "2013-03-28 / 2014-10-25",
              "max_eastern_elongation": "2012-03-27 / 2013-11-01",
              "max_western_elongation": "2012-08-15 / 2014-03-22",
              "perihelion_date": "2013-06-13 / 2014-01-24",
              "aphelion_date": "2013-02-21 / 2013-10-03"
            },
            "code": 200
          }