- attributes = [
-   {
-      :title => 'Astronomical twilight begins', :type  => 'Object', :attributes => [
-        {
-          :title => 'Time',     :type => 'String', :unit => 'time (<em>hours:minutes</em>)' }, {
-          :title => 'Altitude', :type => 'Float',  :unit => 'degree' }, {
-          :title => 'Azimuth',  :type => 'Float',  :unit => 'degree' }
-      ]
-   }, {
-      :title => 'Astronomical twilight end', :type  => 'Object', :attributes => [
-        {
-          :title => 'Time',     :type => 'String', :unit => 'time (<em>hours:minutes</em>)' }, {
-          :title => 'Altitude', :type => 'Float',  :unit => 'degree' }, {
-          :title => 'Azimuth',  :type => 'Float',  :unit => 'degree' }
-      ]
-   }, {
-      :title => 'Nautical twilight begins', :type  => 'Object', :attributes => [
-        {
-          :title => 'Time',     :type => 'String', :unit => 'time (<em>hours:minutes</em>)' }, {
-          :title => 'Altitude', :type => 'Float',  :unit => 'degree' }, {
-          :title => 'Azimuth',  :type => 'Float',  :unit => 'degree' }
-      ]
-   }, {
-      :title => 'Nautical twilight ends', :type  => 'Object', :attributes => [
-        {
-          :title => 'Time',     :type => 'String', :unit => 'time (<em>hours:minutes</em>)' }, {
-          :title => 'Altitude', :type => 'Float',  :unit => 'degree' }, {
-          :title => 'Azimuth',  :type => 'Float',  :unit => 'degree' }
-      ]
-   }, {
-      :title => 'Civil twilight begins', :type  => 'Object', :attributes => [
-        {
-          :title => 'Time',     :type => 'String', :unit => 'time (<em>hours:minutes</em>)' }, {
-          :title => 'Altitude', :type => 'Float',  :unit => 'degree' }, {
-          :title => 'Azimuth',  :type => 'Float',  :unit => 'degree' }
-      ]
-   }, {
-      :title => 'Civil twilight ends', :type  => 'Object', :attributes => [
-        {
-          :title => 'Time',     :type => 'String', :unit => 'time (<em>hours:minutes</em>)' }, {
-          :title => 'Altitude', :type => 'Float',  :unit => 'degree' }, {
-          :title => 'Azimuth',  :type => 'Float',  :unit => 'degree' }
-      ]
-   }, {
-      :title => 'Maximum altitude', :type  => 'Object', :attributes => [
-        {
-          :title => 'Time',     :type => 'String', :unit => 'time (<em>hours:minutes</em>)' }, {
-          :title => 'Altitude', :type => 'Float',  :unit => 'degree' }, {
-          :title => 'Azimuth',  :type => 'Float',  :unit => 'degree' }
-      ]
-   }, {
-      :title => 'Minimum altitude', :type  => 'Object', :attributes => [
-        {
-          :title => 'Time',     :type => 'String', :unit => 'time (<em>hours:minutes</em>)' }, {
-          :title => 'Altitude', :type => 'Float',  :unit => 'degree' }, {
-          :title => 'Azimuth',  :type => 'Float',  :unit => 'degree' }
-      ]
-   }, {
-      :title => 'Sunrise', :type  => 'Object', :attributes => [
-        {
-          :title => 'Time',     :type => 'String', :unit => 'time (<em>hours:minutes</em>)' }, {
-          :title => 'Altitude', :type => 'Float',  :unit => 'degree' }, {
-          :title => 'Azimuth',  :type => 'Float',  :unit => 'degree' }
-      ]
-   }, {
-      :title => 'Sunset', :type  => 'Object', :attributes => [
-        {
-          :title => 'Time',     :type => 'String', :unit => 'time (<em>hours:minutes</em>)' }, {
-          :title => 'Altitude', :type => 'Float',  :unit => 'degree' }, {
-          :title => 'Azimuth',  :type => 'Float',  :unit => 'degree' }
-      ]
-   }, {
-      :title => 'Range', :type  => 'Float', :unit => 'Astronomical Unit'
-   }, {
-      :title => 'Spring equinox', :type  => 'String', :unit => 'DateTime'
-   }, {
-      :title => 'Summer solstice', :type  => 'String', :unit => 'DateTime'
-   }, {
-      :title => 'Autumn equinox', :type  => 'String', :unit => 'DateTime'
-   }, {
-      :title => 'Winter solstice', :type  => 'String', :unit => 'DateTime'
-   }, {
-      :title => 'Altitude', :type  => 'Float', :unit => 'degree'
-   }, {
-      :title => 'Azimuth', :type  => 'Float', :unit => 'degree'
-   }, {
-      :title => 'Right ascension', :type  => 'String', :unit => 'hours (h) minutes (m) seconds (s)'
-   }, {
-      :title => 'Declination', :type  => 'String', :unit => 'degrees (°) minutes (′) seconds (′′)'
-   }, {
-      :title => 'Constellation', :type  => 'String'
-   }
- ]



.main
  %h1= title

  %h2 Methods

  %p
    %span.label.label-info
      GET
    %a{:href => sun_api_url}= sun_api_url

  %h3 Optional parameters

  = haml :'docs/_location_parameters', :locals => { :resource_api_url => sun_api_url }

  %h3 Attributes

  = haml :'docs/_attributes', :locals => { :attributes => attributes }


  %h3 JSON result

  %pre.code.prettyprint
    %code
      = preserve do
        :escaped
          # $ curl #{sun_api_url}
          {
            "data": {
              "astronomical_twilight_begins": {
                "time": "04:48",
                "altitude": -18,
                "azimuth": 67
              },
              "nautical_twilight_begins": {
                "time": "05:14",
                "altitude": -12,
                "azimuth": 68
              },
              "civil_twilight_begins": {
                "time": "05:40",
                "altitude": -6,
                "azimuth": 68
              },
              "sunrise": {
                "time": "06:02",
                "altitude": -0.8,
                "azimuth": 68
              },
              "maximum_altitude": {
                "time": "12:06",
                "altitude": 68.1,
                "azimuth": 360
              },
              "sunset": {
                "time": "18:09",
                "altitude": -0.8,
                "azimuth": 292
              },
              "civil_twilight_ends": {
                "time": "18:32",
                "altitude": -6,
                "azimuth": 292
              },
              "nautical_twilight_ends": {
                "time": "18:58",
                "altitude": -12,
                "azimuth": 292
              },
              "astronomical_twilight_ends": {
                "time": "19:24",
                "altitude": -18,
                "azimuth": 293
              },
              "minimum_altitude": {
                "time": "23:59",
                "altitude": -68.1,
                "azimuth": 356
              },
              "spring_equinox": "2013-03-20T11:01:00+00:00",
              "summer_solstice": "2013-06-21T05:04:00+00:00",
              "autumn_equinox": "2013-09-22T20:44:00+00:00",
              "winter_solstice": "2013-12-21T17:11:00+00:00",
              "altitude": -53.2,
              "azimuth": 308.4,
              "right_ascension": "7h 29m 33s",
              "declination": "21° 50' 28\"",
              "range": 1.0165499,
              "constellation": "Gemini"
            },
            "code": 200

        }