!!! 5
%head
  %meta{ charset: 'utf-8' }
  %title #{settings.api_name} / Docs / #{title}
  %link{ rel: 'stylesheet', href: '/assets/stylesheets/flat/bootstrap/css/bootstrap.css' }
  %link{ rel: 'stylesheet', href: '/assets/stylesheets/flat/bootstrap/css/bootstrap-responsive.css' }
  %link{ rel: 'stylesheet', href: '/assets/stylesheets/flat/css/flat-ui.css' }
  %link{ rel: 'stylesheet', href: '/assets/stylesheets/docs.css' }
%body
  .header
    .navbar
      .navbar-inner
        %a{:class => 'brand', :href => '/docs'}
          #{settings.api_name} / Docs
        %ul.nav
          %li{:class => ('active' if request.path_info == '/docs')}
            %a{:href => '/docs'} Home
          %li{:class => ('active' if request.path_info == '/docs/sun')}
            %a{:href => '/docs/sun'} Sun
          %li{:class => 'dropdown ' + ('active' if request.path_info == '/docs/planets').to_s}
            %a{:class => 'dropdown-toggle', :'data-toggle' => 'dropdown', :href => '#'}
              Planets
              %b.caret
            %ul.dropdown-menu
              %li{:class => ('active' if request.path_info == '/docs/planets/mercury')}
                %a{:href => '/docs/planets/mercury'} Mercury
              %li{:class => ('active' if request.path_info == '/docs/planets/venus')}
                %a{:href => '/docs/planets/venus'} Venus
              %li{:class => ('active' if request.path_info == '/docs/planets/earth')}
                %a{:href => '/docs/planets/earth'} Earth
              %li{:class => ('active' if request.path_info == '/docs/planets/mars')}
                %a{:href => '/docs/planets/mars'} Mars
              %li{:class => ('active' if request.path_info == '/docs/planets/jupiter')}
                %a{:href => '/docs/planets/jupiter'} Jupiter
              %li{:class => ('active' if request.path_info == '/docs/planets/saturn')}
                %a{:href => '/docs/planets/saturn'} Saturn
              %li{:class => ('active' if request.path_info == '/docs/planets/uranus')}
                %a{:href => '/docs/planets/uranus'} Uranus
              %li{:class => ('active' if request.path_info == '/docs/planets/neptune')}
                %a{:href => '/docs/planets/neptune'} Neptune
              %li{:class => ('active' if request.path_info == '/docs/planets/pluto')}
                %a{:href => '/docs/planets/pluto'} Pluto (not a planet but available)
          %li{:class => ('active' if request.path_info == '/docs/about')}
            %a{:href => '/docs/about'} About
  .container
    = yield
  %footer
    %p
      %a{ href: '/' } #{settings.api_name}
      #{Time.new.year}
      %br
      Created and maintained by
      %a{ href: 'http://rhannequin.com' } @rhannequin
      \:
      %a{ href: 'https://github.com/rhannequin' } Github
      \-
      %a{ href: 'https://twitter.com/rhannequin' } Twitter
      %br
      Docs design from
      %a{ href: 'http://designmodo.github.io/Flat-UI' } Sergey Shmidt's work
  %script{ src: '/assets/stylesheets/flat/js/jquery-1.8.3.min.js' }
  %script{ src: '/assets/stylesheets/flat/js/jquery-ui-1.10.3.custom.min.js' }
  %script{ src: '/assets/stylesheets/flat/js/jquery.ui.touch-punch.min.js' }
  %script{ src: '/assets/stylesheets/flat/js/bootstrap.min.js' }
  %script{ src: '/assets/stylesheets/flat/js/bootstrap-select.js' }
  %script{ src: '/assets/stylesheets/flat/js/bootstrap-switch.js' }
  %script{ src: '/assets/stylesheets/flat/js/flatui-checkbox.js' }
  %script{ src: '/assets/stylesheets/flat/js/flatui-radio.js' }
  %script{ src: '/assets/stylesheets/flat/js/jquery.tagsinput.js' }
  %script{ src: '/assets/stylesheets/flat/js/jquery.placeholder.js' }
  %script{ src: '/assets/stylesheets/flat/js/jquery.stacktable.js' }
  %script{ src: '/assets/stylesheets/flat/js/application.js' }
  %script{ src: '/assets/scripts/docs.js' }
</html>